*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #fdb900;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate();
    } 
    100%
    {
        transform: rotate(360deg);
    }   
}

.container .ring::before
{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fdb900;
    box-shadow: 0 0 0 5px #fdb90033,
            0 0 0 10px #fdb90022,
            0 0 0 20px #fdb90011,
            0 0 20px #fdb900,
            0 0 50px #fdb900;
}

.container .ring:nth-child(2)
{
    animation: animate2 4s linear infinite;    
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #7fba00;
}

.container .ring:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #7fba00;
    box-shadow: 0 0 0 5px #7fba0033,
            0 0 0 10px #7fba0022,
            0 0 0 20px #7fba0011,
            0 0 20px #7fba00,
            0 0 50px #7fba00;
}

@keyframes animate2 
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;    
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #f04e1f ;
}

.container .ring:nth-child(3)::before
{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #f04e1f;
    box-shadow: 0 0 0 5px #f04e1f33,
            0 0 0 10px #f04e1f22,
            0 0 0 20px #f04e1f11,
            0 0 20px #f04e1f,
            0 0 50px #f04e1f;
}

.container p 
{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}

