body{
    background-color: seashell;
}
h1{
    text-align: center;
}
img{
    width: 500px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.difference{
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.p1{
    font-size: 18px;
    justify-content: center;
}
.p2{
    font-size: 18px;
    justify-content: center;
}
.p3{
    font-size: 18px;
    justify-content: center;
}
ol{
    font-size: 18px;
    justify-content: center;
}