body {
    background-image: url(https://www.xtrafondos.com/wallpapers/estrellas-en-nebula-8595.jpg);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    }
    img {
    border-radius: 50%;
    }
    .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    }
    .profile-name {
    text-align: center;
    padding: 30px;
    }
    .links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    }
    a {
    text-decoration: none;
    color: white;
    transition: color 1s;
    font-weight: bold;
    }
    .bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    }
    .footer{
    text-align: center;
}
a:hover{
    color: #D18CE0;
}
.profile-name:hover{
    color: #D18CE0;
}
.profile-picture:hover{
background-color: #D18CE0;
border-style: solid;
border-color: #D18CE0;
}